@impakt-dev:registry=https://gitlab.com/api/v4/packages/npm/

//gitlab.com/api/v4/packages/npm/:_authToken=glpat-J5AWZ_btvFAHemfjtmC-
//gitlab.com/api/v4/projects/:_authToken=glpat-J5AWZ_btvFAHemfjtmC-
always-auth=trues