@impakt-dev:registry=https://gitlab.com/api/v4/packages/npm/

//gitlab.com/api/v4/packages/npm/:_authToken=glpat-CAwBNU5NimJHpzMGhnsQ
//gitlab.com/api/v4/projects/:_authToken=glpat-CAwBNU5NimJHpzMGhnsQ
always-auth=trues