.imgTopBlur {
-webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%);
mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
}

.gradient-text {
    /* background-color: #FEC417;
    background-image: linear-gradient(#FEC417, #FFE67A, #FEC417);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */

    /* background-color: #FEC417; */
    background-image: linear-gradient(90deg, #FFE67A 40%, #FEC417 88.75%, #FEC417 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-size: 100%;

}