.buttonHover,
.buttonHover svg,
.buttonHover p {
  color: #fff;
}
.buttonHover:hover,
.buttonHover:hover svg,
.buttonHover:hover,
.buttonHover:hover p {
  color: #0b1725;
  fill: #0b1725;
  opacity: 1;
}
